<body>
  <header>
    <div class="container">
      <img src="./assets/shared/logo.svg" alt="" />
      <div class="line"></div>
      <nav>
        <ul class="navigation">
          <li class="home">
            <a href="/">
              <b>00</b>
              <p>Home</p>
            </a>
          </li>
          <li class="destination">
            <a href="/destination">
              <b>01</b>
              <p>Destination</p>
            </a>
          </li>
          <li class="crew">
            <a href="/crews">
              <b>02</b>
              <p>Crew</p>
            </a>
          </li>
          <li class="technology">
            <a href="/technology">
              <b>03</b>
              <p>Technology</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="blur-back"></div>
  </header>
  <script src="header.js"></script>
</body>
