<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="crew.css" />
    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <%- include('./partials/header'); -%>

  <body>
    <section class="landing">
      <div class="title">
        <b>02</b>
        <p>Meet your crew</p>
      </div>
      <div class="container">
        <div class="command">Commander</div>
        <div class="crew-name">Douglas Hurley</div>
        <div class="crew-desc">Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.</div>
      </div>
      <div class="dots">
        <div class="dot active" data-num="1"></div>
        <div class="dot" data-num="2"></div>
        <div class="dot" data-num="3"></div>
        <div class="dot" data-num="4"></div>
      </div>
      <img class="image" src="./assets/crew/image-douglas-hurley.png" alt="" />
    </section>
    <script src="crew.js"></script>
  </body>
</html>
