<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="destination.css" />

    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <%- include('./partials/header'); -%>

  <body>
    <section class="landing">
      <div class="title">
        <b>01</b>
        <p>Pick your destination</p>
      </div>
      <div class="container">
        <img class="planet-photo" src="./assets/destination/image-mars.png" alt="" />
        <nav>
          <ul class="navigation">
            <li>
              <a class="moon">
                <p>Moon</p>
              </a>
            </li>
            <li>
              <a class="mars">
                <p>Mars</p>
              </a>
            </li>
            <li>
              <a class="europe">
                <p>Europa</p>
              </a>
            </li>
            <li>
              <a class="titan">
                <p>Titan</p>
              </a>
            </li>
          </ul>
          <div class="planet">MARS</div>
          <div class="planet-desc">
            Don’t forget to pack your hiking boots. You’ll need them to <br />tackle Olympus Mons, the tallest planetary mountain in <br />our solar system. It’s two and a half times the size of <br />
            Everest!
          </div>
          <div class="line"></div>
          <div class="container-distance">
            <div class="distance-text">
              <p>AVG. DISTANCE</p>
              <p class="distance">225 MIL. km</p>
            </div>
            <div class="distance-text">
              <p>Est. travel time</p>
              <p class="distance-time">9 months</p>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <script src="destination.js" type="module"></script>
  </body>
</html>
