<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="technology.css" />

    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <%- include('./partials/header')-%>
  <body>
    <section class="landing">
      <div class="title">
        <b>03</b>
        <p>space launch 101</p>
      </div>
    </section>
    <div class="container-content">
      <div class="dots">
        <p class="dot">1</p>
        <p class="dot">2</p>
        <p class="dot">3</p>
      </div>
    </div>
  </body>
</html>
