<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="technology.css" />

    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <%- include('./partials/header')-%>
  <body>
    <section class="landing">
      <div class="title">
        <b>03</b>
        <p>space launch 101</p>
      </div>
    </section>

    <div class="content-wrapper">
      <div class="dots">
        <p class="dot" data-num="1" ="">1</p>
        <p class="dot" data-num="2">2</p>
        <p class="dot" data-num="3">3</p>
      </div>
      <div class="content">
        <p class="terminology">THE TERMINOLOGY…</p>
        <p class="title-tech">LAUNCH VEHICLE</p>
        <p class="description">
          A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150
          metres tall, it's quite an awe-inspiring sight on the launch pad!
        </p>
      </div>
      <img class="images" src="./assets/technology/image-launch-vehicle-portrait.jpg" alt="" />
    </div>
    <script src="technology.js"></script>
  </body>
</html>
