@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
* {
  overflow-x: hidden;
  color: white;
  font-family: 'Bellefair', serif;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 50px;
}

header img {
  position: absolute;
  left: 55px;
}

header nav ul {
  display: flex;
  gap: 48px;
}

ul {
  list-style: none;
}

header nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  size: 16px;
}

li {
  position: relative;
}

header nav ul li a b {
  margin-right: 20px;
}

header .blur-back {
  background: rgba (255, 255, 255, 0.04);
  width: 830px;
  height: 96px;
  backdrop-filter: blur(81.5485px);
  top: -90px;
  left: 610px;
  position: relative;
  z-index: -99;
}

header .line {
  background: white;
  width: 473px;
  height: 1px;
  position: relative;
  left: 28px;
  opacity: 25%;
}

header a:hover {
  border-bottom: 2px solid white;
  transition: 0.3s linear;
  opacity: 30%;
}
header li.active {
  border-bottom: 2px solid white;
}
