@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
* {
  overflow-x: hidden;
  color: white;
  font-family: 'Bellefair', serif;
}

section {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.landing {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  z-index: -99;
  position: absolute;
  width: 100%;
  height: 900px;
}

section .title {
  display: flex;
  position: absolute;
  top: 212px;
  left: 166px;
  font: 28px;
  align-items: center;
  gap: 28px;
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.dots {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  padding-right: 100px;
  justify-content: center;
}

.dots .dot {
  /* position: relative; */
  display: flex;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 32px;
  /* left: 165px;
  top: 150px; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dots .dot:hover {
  background-color: #292c34;
}

.dots .dot:active {
  background-color: white;
}

.content-wrapper {
  display: flex;
  margin-top: 130px;
  margin-left: 160px;
}

.content {
  margin-top: 30px;
}

.content p {
  margin-bottom: -30px;
  color: #d0d6f9;
}

.content .title-tech {
  font-size: 56px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.content .description {
  width: 444px;
  line-height: 32px;
}

.content-wrapper img {
  position: absolute;
  width: 515px;
  height: 527px;
  left: 925px;
  top: 272px;
}

.content-wrapper .dots .dot.active {
  background-color: #fff;
  color: black;
}

